.vs/
bin/
obj/
logs/

*.user
*.suo
*.userosscache
*.sln.docstates
*.log



[Dd]ebug/
[Rr]elease/
publish/
logs/

appsettings.Production.json
appsettings.Development.json
Dashboard-web/Properties/launchSettings.json
Dashboard-web/build-check.log
